<div class ="main-container">
<mat-card class = "card-wrapper">
    <mat-toolbar class= "toolbar-wrapper">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Chats</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
      <mat-card class = "inside-card-wrapper">
        <mat-tab-group animationDuration="1000ms">
            <mat-tab label="Facebook">
                <mat-card>Facebook
                    
                </mat-card>
            </mat-tab>
            <mat-tab label="Wapp">
                <mat-card>Facebook</mat-card>
            </mat-tab>
            <mat-tab label="Telegram">
                <mat-card>Facebook</mat-card>
            </mat-tab>
        </mat-tab-group>
      </mat-card>
</mat-card>
</div>
