
.input-field{
    background-color: transparent;
    font-size: 14px;
    color: white;
    border: transparent;
    outline: none;
    border-bottom:4px solid #e76f51;
    width: 80%;
}
.input-field:active{
    background-color: transparent;
    overflow: hidden;
}
.input-field:focus{
    background-color: transparent;
    overflow: hidden;
    border-bottom: none;
}
.input-field:first-child{
    grid-row: 1/2;
}

.input-field:any-link{
    background-color: transparent;
    overflow: hidden;
    border-bottom: none;
}
.input-field:last-child{
    grid-row: 2/2;
}
label{
    color: #e76f51;
    font-size: 16px;
    width: 6em;
    height: 2em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    grid-column: 1/2;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-top: 2vh;
}
textarea{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 21vh;
    min-height: 100px;
}
.form-container{
    display: flex;
    padding: 10px;
    width: 90%;
    margin: 1vw;
    justify-items: center;
    text-align: center;
    margin-top: 1.5vh;
    min-width: 39.5vw;
    flex-direction: column;
}



nav{
    grid-column: 2/2;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c: #e76f51;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 8em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
